* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}

header {
  width: 100%;
  position: sticky;
  /*     codingcreativo.it/position-sticky/      */
  top: 0;
  left: 0;
  z-index: 1;
}

.container_logo_user {
  height: 60px;
}

.container_dots {
  height: 32px;
  width: 32px;
}

.container_dots img {
  width: 20px;
  height: 20px;
}

.container_dots:hover {
  background-color: lightgray;
}

.container_profile {
  height: 32px;
  width: 32px;
}

.navbar-menu p {
  margin-bottom: 0 !important;
  padding-bottom: 5px;
  cursor: pointer;
}

.navbar-menu p:last-of-type {
  color: blue;
  border-bottom: 2px solid blue;
}

main h4 {
  margin-top: 100px !important;
}
main p {
  font-size: 14px;
}

hr {
  margin: 0 !important;
}

footer {
  background-color: lightgray;
  height: 34px;
  width: 100%;
  padding: 10px;
}

footer ul {
  margin-bottom: 0 !important;
  padding-left: 0 !important;
  font-size: 11px;
}

footer ul li:not(:last-of-type):after {
  content: "\0000b7";
  /* https://unicode-table.com/it/00B7/ */
  padding: 0 5px;
}

footer select {
  width: 180px;
  font-size: 14px;
}
